<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1> Nuevo producto</h1>
   <form method ="POST"  action ="">
        {{ form.hidden_tag()}}
        <p>
            {{form.nombre.label}}
            {{form.nombre(size = 32)}}
        </p>
        <p>
            {{form.precio.label}}
            {{form.precio(size = 32)}}
        </p>

        {{form.submit()}}

   </form>
</body>
</html>